node_modules/
.next/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Custom exclusions
*.py
*.tsbuildinfo
*.bak
# Exclude raw multi-gigabyte audio tracks from Git
public/*.wav
public/*.m4a

# Permitted web-optimized media formats
# public/tracks/*.mp3

.vercel
